meta:
    name: &mooring CP10CNSM
    array: 'Coastal Pioneer MAB'
    deployment: {{ deployment }}
    deploy_name: {{ deployment_name }}
    category: 'Surface Mooring'
    subcategory: 'High Power'
    disposition: {{ disposition }}
    deploy_cruise: {{ deploy_cruise }}
    start_date: {{ start_date }}
    latitude: {{ latitude }}
    longitude: {{ longitude }}
    stop_date: {{ stop_date }}
    recover_cruise: {{ recover_cruise }}
    watch_circle: {{ orbit }}
    water_depth: &water_depth 32
paths:
    raw: /home/ooiuser/data/raw
    parsed: /home/ooiuser/data/parsed
    processed: /home/ooiuser/data/processed
platforms:
    - platform1:
        name: &buoy BUOY
        controlled_by: None
        physical: *mooring
        depth: &depth0 0
        controller:
            name: &cpm1 CPM1
            refdes: CP10CNSM-SBC11-00-CPMENG000
            controlled_by: None
            physical: *buoy
            depth: *depth0
            serial: {{ cpm1_serial }}
            uuid: {{ cpm1_uuid }}
            raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/syslog/*.syslog.log"
            parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/syslog/cpm1/*.syslog.json"
            dataset: CP10CNSM_BUOY_001_SUPERV
        beacons:
            - beacon1:
                name: Rover1
                refdes: None
                controlled_by: None
                physical: *buoy
                depth: -4
                serial: {{ xeos_beacon1_serial }}
                imei: {{ xeos_beacon1_imei }}
                raw_data: "cp10cnsm/{{ deployment_name }}/xeos_sbd/{{ xeos_beacon1_imei }}.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/xeos/rover1/{{ xeos_beacon1_imei }}.json"
                dataset: None
            - beacon2:
                name: Rover2
                refdes: None
                controlled_by: None
                physical: *buoy
                depth: -4
                serial: {{ xeos_beacon2_serial }}
                imei: {{ xeos_beacon2_imei }}
                raw_data: "cp10cnsm/{{ deployment_name }}/xeos_sbd/{{ xeos_beacon2_imei }}.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/xeos/rover2/{{ xeos_beacon2_imei }}.json"
                dataset: None
            - beacon3:
                name: Kilo_Buoy
                refdes: None
                controlled_by: None
                physical: *buoy
                depth: 1
                serial: {{ xeos_beacon3_serial }}
                imei: {{ xeos_beacon3_imei }}
                raw_data: "cp10cnsm/{{ deployment_name }}/xeos_sbd/{{ xeos_beacon3_imei }}.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/xeos/kilo_buoy/{{ xeos_beacon3_imei }}.json"
                dataset: None
        pwrsys:
            name: &psc PSC
            refdes: None
            controlled_by: *cpm1
            physical: *buoy
            depth: *depth0
            serial: {{ psc_serial }}
            uuid: {{ psc_uuid }}
            raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/pwrsys/*.pwrsys.log"
            parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/pwrsys/*.pwrsys.json"
            dataset: CP10CNSM_BUOY_001_PWRSYS
        loggers:
            - logger1:
                name: &dcl11 DCL11
                refdes: CP10CNSM-SBD11-00-DCLENG000
                controlled_by: *cpm1
                physical: *buoy
                depth: *depth0
                serial: {{ dcl11_serial }}
                uuid: {{ dcl11_uuid }}
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/syslog/*.syslog.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/syslog/dcl11/*.syslog.json"
                dataset: CP10CNSM_BUOY_002_SUPERV
            - logger2:
                name: &dcl12 DCL12
                refdes: CP10CNSM-SBD12-00-DCLENG000
                controlled_by: *cpm1
                physical: *buoy
                depth: *depth0
                serial: {{ dcl12_serial }}
                uuid: {{ dcl11_uuid }}
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/syslog/*.syslog.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/syslog/dcl12/*.syslog.json"
                dataset: CP10CNSM_BUOY_003_SUPERV
        instrmts:
            ### Instruments controlled and logged by CPM1 ###
            - gps:
                name: GPS
                refdes: None
                controlled_by: *cpm1
                physical: *buoy
                depth: -4
                serial: {{ gps_serial }}
                uuid: {{ gps_uuid }}
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/gps/*.gps.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/gps/*.gps.json"
                dataset: CP10CNSM_BUOY_001_GPS
            - iridium:
                name: IRIDIUM
                refdes: None
                controlled_by: *cpm1
                physical: *buoy
                depth: -4
                serial: {{ irid_serial }}
                uuid: {{ irid_uuid }}
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/irid/*.irid.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/iridium/*.irid.json"
                dataset: CP10CNSM_BUOY_001_IRIDIUM
            - sbd1:
                name: SBD_Primary
                refdes: None
                controlled_by: *cpm1
                physical: *buoy
                depth: -4
                serial: {{ sbd1_serial }}
                uuid: {{ sbd1_uuid }}
                imei: {{ sbd1_imei }}
                raw_data: "cp10cnsm/{{ deployment_name }}/irid_sbd/{{ sbd1_imei }}.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/sbd_primary/{{ sbd_imei1 }}.json"
                dataset: None
            - sbd2:
                name: SBD_Backup
                refdes: None
                controlled_by: *cpm1
                physical: *buoy
                depth: -4
                serial: {{ sbd2_serial }}
                uuid: {{ sbd2_uuid }}
                imei: {{ sbd2_imei }}
                raw_data: "cp10cnsm/{{ deployment_name }}/irid_sbd/{{ sbd2_imei }}.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/sbd_backup/{{ sbd2_imei }}.json"
                dataset: None
            ### Instruments controlled and logged by DCL11 ###
            - mopak:
                name: MOPAK
                refdes: CP10CNSM-SBD11-01-MOPAK0000
                controlled_by: *dcl11
                physical: *buoy
                depth: *depth0
                serial: {{ mopak_serial }}
                uuid: {{ mopak_uuid }}
                port: 1
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/mopak/*.mopak.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/mopak/*.mopak.json"
                dataset: CP10CNSM_BUOY_001_MOPAK
            - hyd1:
                name: HYDGN1
                refdes: CP10CNSM-SBD11-02-HYDGN0000
                controlled_by: *dcl11
                physical: *buoy
                depth: *depth0
                serial: {{ hyd1_serial }}
                uuid: {{ hyd1_uuid }}
                port: 2
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/hyd1/*.hyd1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/dcl11/hyd1/*.hyd1.json"
                dataset: CP10CNSM_BUOY_001_HYDGN
            - rte:
                name: RTE
                refdes: None
                controlled_by: *dcl11
                physical: *buoy
                depth: -4
                serial: {{ rte_serial }}
                uuid: {{ rte_uuid }}
                port: 3
                raw_data: None
                parsed_data: None
                dataset: None
            - spkir:
                name: SPKIR
                refdes: None
                controlled_by: *dcl11
                physical: *buoy
                depth: -4
                serial: {{ spkir_serial }}
                uuid: {{ spkir_uuid }}
                port: 5
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/spkir1/*.spkir1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/spkir/*.spkir1.json"
                dataset: CP10CNSM_BUOY_001_SPKIR
            - metbk1:
                name: &metbk1 METBK1
                refdes: CP10CNSM-SBD11-06-METBKA000
                controlled_by: *dcl11
                physical: *buoy
                depth: *depth0
                serial: {{ metbk1_serial }}
                uuid: {{ metbk1_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/metbk1/*.metbk1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk1/*.metbk1.json"
                dataset: CP10CNSM_BUOY_001_METBK
            - metct1:
                name: METCT1
                refdes: CP10CNSM-SBD11-06-METBKA001
                controlled_by: *metbk1
                physical: *buoy
                ui: False
                depth: 1
                serial: {{ metct1_serial }}
                uuid: {{ metct1_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/metbk1/*.metbk1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk1/*.metbk1.json"
                dataset: CP10CNSM_BUOY_001_METBK
            - metbpr1:
                name: METBPR1
                refdes: CP10CNSM-SBD11-06-METBKA002
                controlled_by: *metbk1
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metbpr1_serial }}
                uuid: {{ metbpr1_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/metbk1/*.metbk1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk1/*.metbk1.json"
                dataset: CP10CNSM_BUOY_001_METBK
            - methrh1:
                name: METHRH1
                refdes: CP10CNSM-SBD11-06-METBKA003
                controlled_by: *metbk1
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ methrh1_serial }}
                uuid: {{ methrh1_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/metbk1/*.metbk1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk1/*.metbk1.json"
                dataset: CP10CNSM_BUOY_001_METBK
            - metlwr1:
                name: METLWR1
                refdes: CP10CNSM-SBD11-06-METBKA004
                controlled_by: *metbk1
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metlwr1_serial }}
                uuid: {{ metlwr1_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/metbk1/*.metbk1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk1/*.metbk1.json"
                dataset: CP10CNSM_BUOY_001_METBK
            - metprc1:
                name: METPRC1
                refdes: CP10CNSM-SBD11-06-METBKA005
                controlled_by: *metbk1
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metprc1_serial }}
                uuid: {{ metprc1_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/metbk1/*.metbk1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk1/*.metbk1.json"
                dataset: CP10CNSM_BUOY_001_METBK
            - metswr1:
                name: METSWR1
                refdes: CP10CNSM-SBD11-06-METBKA006
                controlled_by: *metbk1
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metswr1_serial }}
                uuid: {{ metswr1_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/metbk1/*.metbk1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk1/*.metbk1.json"
                dataset: CP10CNSM_BUOY_001_METBK
            - metwnd1:
                name: METWND1
                refdes: CP10CNSM-SBD11-06-METBKA007
                controlled_by: *metbk1
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metwnd1_serial }}
                uuid: {{ metwnd1_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl11/metbk1/*.metbk1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk1/*.metbk1.json"
                dataset: CP10CNSM_BUOY_001_METBK
            - methtr1:
                name: METHTR1
                refdes: None
                controlled_by: *dcl11
                physical: *buoy
                depth: -4
                serial: {{ methtr1_serial }}
                uuid: {{ methtr1_uuid }}
                port: 7
                raw_data: None
                parsed_data: None
                dataset: None
            ### Instruments controlled and logged by DCL12 ###
            - hyd2:
                name: HYDGN2
                refdes: CP10CNSM-SBD12-03-HYDGN0000
                controlled_by: *dcl12
                physical: *buoy
                depth: *depth0
                serial: {{ hyd2_serial }}
                uuid: {{ hyd2_uuid }}
                port: 3
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/hyd2/*.hyd2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/hyd2/*.hyd2.json"
                dataset: CP10CNSM_BUOY_002_HYDGN
            - pco2a:
                name: PCO2A
                refdes: CP10CNSM-SBD12-04-PCO2AA000
                controlled_by: *dcl12
                physical: *buoy
                depth: *depth0
                serial: {{ pco2a_serial }}
                uuid: {{ pco2a_uuid }}
                port: 4
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/pco2a/*.pco2a.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/pco2a/*.pco2a.json"
                dataset: CP10CNSM_BUOY_001_PCO2A
            - wavss:
                name: WAVSS
                refdes: CP10CNSM-SBD12-05-WAVSSA000
                controlled_by: *dcl12
                physical: *buoy
                depth: *depth0
                serial: {{ wavss_serial }}
                uuid: {{ wavss_uuid }}
                port: 5
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/*.wavss.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/wavss/*.wavss.json"
                dataset: CP10CNSM_BUOY_001_WAVSS
            - metbk2:
                name: METBK2
                refdes: CP10CNSM-SBD12-06-METBKA000
                controlled_by: *dcl12
                physical: *buoy
                depth: *depth0
                serial: {{ metbk2_serial }}
                uuid: {{ metbk2_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/metbk2/*.metbk2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk2/*.metbk2.json"
                dataset: CP10CNSM_BUOY_002_METBK
            - metct2:
                name: METCT2
                refdes: CP10CNSM-SBD12-06-METBKA001
                controlled_by: *metbk2
                physical: *buoy
                ui: False
                depth: 1
                serial: {{ metct2_serial }}
                uuid: {{ metct2_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/metbk2/*.metbk2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk2/*.metbk2.json"
                dataset: CP10CNSM_BUOY_002_METBK
            - metbpr2:
                name: METBPR2
                refdes: CP10CNSM-SBD12-06-METBKA002
                controlled_by: *metbk2
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metbpr2_serial }}
                uuid: {{ metbpr2_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/metbk2/*.metbk2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk2/*.metbk2.json"
                dataset: CP10CNSM_BUOY_002_METBK
            - methrh2:
                name: METHRH2
                refdes: CP10CNSM-SBD12-06-METBKA003
                controlled_by: *metbk2
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ methrh2_serial }}
                uuid: {{ methrh2_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/metbk2/*.metbk2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk2/*.metbk2.json"
                dataset: CP10CNSM_BUOY_002_METBK
            - metlwr2:
                name: METLWR2
                refdes: CP10CNSM-SBD12-06-METBKA004
                controlled_by: *metbk2
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metlwr2_serial }}
                uuid: {{ metlwr2_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/metbk2/*.metbk2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk2/*.metbk2.json"
                dataset: CP10CNSM_BUOY_002_METBK
            - metprc2:
                name: METPRC2
                refdes: CP10CNSM-SBD12-06-METBKA005
                controlled_by: *metbk2
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metprc2_serial }}
                uuid: {{ metprc2_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/metbk2/*.metbk2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk2/*.metbk2.json"
                dataset: CP10CNSM_BUOY_002_METBK
            - metswr2:
                name: METSWR2
                refdes: CP10CNSM-SBD12-06-METBKA006
                controlled_by: *metbk2
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metswr2_serial }}
                uuid: {{ metswr2_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/metbk2/*.metbk2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk2/*.metbk2.json"
                dataset: CP10CNSM_BUOY_002_METBK
            - metwnd2:
                name: METWND2
                refdes: CP10CNSM-SBD12-06-METBKA007
                controlled_by: *metbk2
                physical: *buoy
                ui: False
                depth: -4
                serial: {{ metwnd2_serial }}
                uuid: {{ metwnd2_uuid }}
                port: 6
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/metbk2/*.metbk2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/metbk2/*.metbk2.json"
                dataset: CP10CNSM_BUOY_002_METBK
            - methtr2:
                name: METHTR2
                refdes: None
                controlled_by: *dcl12
                physical: *buoy
                depth: -4
                serial: {{ methtr2_serial }}
                uuid: {{ methtr2_uuid }}
                port: 7
                raw_data: None
                parsed_data: None
                dataset: None
            - fdchp:
                name: FDCHP
                refdes: CP10CNSM-SBD12-08-FDCHPA000
                controlled_by: *dcl12
                physical: *buoy
                depth: -4
                serial: {{ fdchp_serial }}
                uuid: {{ fdchp_uuid }}
                port: 8
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl12/*.fdchp.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/buoy/fdchp/*.fdchp.json"
                dataset: CP10CNSM_BUOY_001_FDCHP
    - platform2:
        name: &nsif NSIF
        controlled_by: None
        physical: *mooring
        depth: &depth7 7
        controller:
            name: &cpm2 CPM2
            refdes: CP10CNSM-RIC21-00-CPMENG000
            controlled_by: *cpm1
            physical: *nsif
            depth: *depth7
            serial: {{ cpm2_serial }}
            uuid: {{ cpm2_uuid }}
            raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/cpm2/syslog/*.syslog.log"
            parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/syslog/cpm2/*.syslog.json"
            dataset: CP10CNSM_NSIF_001_SUPERV
        beacons: None
        pwrsys: None
        loggers:
            - logger1:
                name: &dcl26 DCL26
                refdes: CP10CNSM-RID26-00-DCLENG000
                controlled_by: *cpm2
                physical: *nsif
                depth: *depth7
                serial: {{ dcl26_serial }}
                uuid: {{ dcl26_uuid }}
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl26/syslog/*.syslog.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/syslog/dcl36/*.syslog.json"
                dataset: CP10CNSM_NSIF_002_SUPERV
            - logger2:
                name: &dcl27 DCL27
                refdes: CP10CNSM-RID27-00-DCLENG000
                controlled_by: *cpm2
                physical: *nsif
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl27/syslog/*.syslog.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/syslog/dcl37/*.syslog.json"
                dataset: CP10CNSM_NSIF_003_SUPERV
        instrmts:
            ### Instruments controlled and logged by DCL26 ###
            - prtsz:
                name: PRTSZ
                refdes: CP10CNSM-RID26-01-PRTSZA000
                controlled_by: *dcl26
                physical: *nsif
                port: 1
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl26/prtsz1/*.prtsz1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/prtsz/*.prtsz1.json"
                dataset: CP10CNSM_NSIF_001_PRTSZ
            - turbd:
                name: TURBD
                refdes: CP10CNSM-RID26-03-TURBDA000
                controlled_by: *dcl26
                physical: *nsif
                port: 3
                #uuid: <API_query:uuid_number>
                raw_data: None
                parsed_data: None
                dataset: CP10CNSM_NSIF_001_TURBD
            - velpt:
                name: VELPT
                refdes: CP10CNSM-RID26-04-VELPTA000
                controlled_by: *dcl26
                physical: *nsif
                port: 4
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl26/velpt1/*.velpt1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/velpt/*.velpt1.json"
                dataset: CP10CNSM_NSIF_001_VELPT
            - phsen:
                name: PHSEN
                refdes: CP10CNSM-RID26-06-PHSEND000
                controlled_by: *dcl26
                physical: *nsif
                port: 6
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl26/phsen1/*.phsen1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/phsen/*.phsen1.json"
                dataset: CP10CNSM_NSIF_001_PHSEN
            - nutnr:
                name: NUTNR
                refdes: CP10CNSM-RID26-07-NUTNRB000
                controlled_by: *dcl26
                physical: *nsif
                port: 7
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl26/nutnr/*.nutnr.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/nutnr/*.nutnr.json"
                dataset: CP10CNSM_NSIF_002_NUTNR
            - spkir:
                name: SPKIR
                refdes: CP10CNSM-RID26-08-SPKIRB000
                controlled_by: *dcl26
                physical: *nsif
                port: 8
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl26/spkir2/*.spkir2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/spkir/*.spkir2.json"
                dataset: CP10CNSM_NSIF_001_SPKIR
            ### Instruments controlled and logged by DCL27 ###
            - optaa:
                name: OPTAA
                refdes: CP10CNSM-RID27-01-OPTAAD000
                controlled_by: *dcl27
                physical: *nsif
                port: 1
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl27/optaa1_decimated/*.optaa1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/optaa/*.optaa1.json"
                dataset: CP10CNSM_NSIF_001_OPTAA
            - flort:
                name: FLORT
                refdes: CP10CNSM-RID27-02-FLORTD000
                controlled_by: *dcl27
                physical: *nsif
                port: 2
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl27/flort/*.flort.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/flort/*.flort.json"
                dataset: CP10CNSM_NSIF_001_FLORT
            - ctdbp:
                name: CTDBP
                refdes: CP10CNSM-RID27-03-CTDBPC000
                controlled_by: *dcl27
                physical: *nsif
                port: 3
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl27/ctdbp1/*.ctdbp1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/ctdbp/*.ctdbp1.json"
                dataset: CP10CNSM_NSIF_001_CTDBP
            - dosta:
                name: DOSTA
                refdes: CP10CNSM-RID27-04-DOSTAD000
                controlled_by: *dcl27
                physical: *nsif
                port: 4
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl27/dosta1/*.dosta1.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/dosta/*.dosta1.json"
                dataset: CP10CNSM_NSIF_001_DOSTA
            - uvlamp:
                name: UVLAMP
                refdes: None
                controlled_by: *dcl27
                physical: *nsif
                port: 5
                #uuid: <API_query:uuid_number>
                raw_data: None
                parsed_data: None
                dataset: None
            - plims:
                name: PLIMS
                refdes: CP10CNSM-RID27-07-PLIMSA000
                controlled_by: *dcl27
                physical: *nsif
                port: 7
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl27/plims/*.adc"
                parsed_data: "cp10cnsm/{{ deployment_name }}/nsif/plims/*.json"
                dataset: CP10CNSM_NSIF_001_PLIMS
    - platform3:
        name: &mfn MFN
        controlled_by: None
        physical: *mooring
        depth: *water_depth
        pwrsys:
            name: &mpea MPEA
            refdes: None
            controlled_by: *psc
            physical: *mfn
            #uuid: <API_query:uuid_number>
            raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/cpm3/pwrsys/*.pwrsys.log"
            parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/mpea/*.pwrsys.json"
            dataset: CP10CNSM_MFN_001_MPEA
        controller:
            name: &cpm3 CPM3
            refdes: CP10CNSM-MFC31-00-CPMENG000
            controlled_by: *mpea
            physical: *mfn
            #uuid: <API_query:uuid_number>
            raw_data: "cp10cnsm/{{ deployment_name }}/cpm3/syslog/*.syslog.log"
            parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/syslog/cpm3/*.syslog.json"
            dataset: CP10CNSM_MFN_001_SUPERV
        beacons:
            - beacon1:
                name: Kilo_MFN1
                refdes: None
                controlled_by: None
                physical: *mfn
                #imei: <API_query:imei_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/xeos_sbd/300234060015550.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/xeos/mfn1/300234060015550.json"
                dataset: None
            - beacon2:
                name: Kilo_MFN2
                refdes: None
                controlled_by: None
                physical: *mfn
                #imei: <API_query:imei_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/xeos_sbd/300234060424880.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/xeos/mfn2/300234060424880.json"
                dataset: None
        loggers:
            - logger1:
                name: &dcl36 DCL36
                refdes: CP10CNSM-MFD36-00-DCLENG000
                controlled_by: *cpm3
                physical: *mfn
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl36/syslog/*.syslog.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/syslog/dcl36/*.syslog.json"
                dataset: CP10CNSM_MFN_002_SUPERV
            - logger2:
                name: &dcl37 DCL37
                refdes: CP10CNSM-MFD37-00-DCLENG000
                controlled_by: *cpm3
                physical: *mfn
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl37/syslog/*.syslog.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/syslog/dcl37/*.syslog.json"
                dataset: CP10CNSM_MFN_003_SUPERV
        instrmts:
            ### Instruments controlled and logged by DCL36 ###
            - prtsz:
                name: PRTSZ
                refdes: CP10CNSM-MFD36-01-PRTSZA000
                controlled_by: *dcl36
                physical: *mfn
                port: 1
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/cg_data/dcl36/prtsz2/*.prtsz2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/prtsz/*.prtsz2.json"
                dataset: CP10CNSM_MFN_001_PRTSZ
            - presf:
                name: PRESF
                refdes: CP10CNSM-MFD36-02-PRESFB000
                controlled_by: *dcl36
                physical: *mfn
                port: 2
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl36/presf/*.presf.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/presf/*.presf.json"
                dataset: CP10CNSM_MFN_001_PRESF
            - turbd:
                name: TURBD
                refdes: CP10CNSM-MFD36-03-TURBDA000
                controlled_by: *dcl36
                physical: *mfn
                port: 3
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl36/turbd/*.turbd.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/turbd/*.turbd.json"
                dataset: CP10CNSM_MFN_001_TURBD
            - velpt:
                name: VELPT
                refdes: CP10CNSM-MFD36-04-VELPTA000
                controlled_by: *dcl36
                physical: *mfn
                port: 4
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl36/adcpt2/*.adcpt2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/adcpt/*.adcpt2.json"
                dataset: CP10CNSM_MFN_001_ADCPT
            - pco2w:
                name: PCO2W
                refdes: CP10CNSM-MFD36-05-PCO2WB000
                controlled_by: *dcl36
                physical: *mfn
                port: 5
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl36/pco2w/*.pco2w.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/pco2w/*.pco2w.json"
                dataset: CP10CNSM_MFN_001_PCO2W
            - phsen:
                name: PHSEN
                refdes: CP10CNSM-MFD36-06-PHSEND000
                controlled_by: *dcl36
                physical: *mfn
                port: 6
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl36/phsen2/*.phsen2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/phsen/*.phsen2.json"
                dataset: CP10CNSM_MFN_001_PHSEN
            ### Instruments controlled and logged by DCL37 ###
            - optaa:
                name: OPTAA
                refdes: CP10CNSM-MFD37-01-OPTAAD000
                controlled_by: *dcl37
                physical: *mfn
                port: 1
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl37/optaa2_decimated/*.optaa2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/optaa/*.optaa2.json"
                dataset: CP10CNSM_MFN_001_OPTAA
            - adcpt:
                name: ADCPT
                refdes: CP10CNSM-MFD36-04-ADCPTQ000
                controlled_by: *dcl37
                physical: *mfn
                port: 2
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl37/adcp/*.adcp.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/adcp/*.adcp.json"
                dataset: CP10CNSM_MFN_001_ADCPT
            - ctdbp:
                name: CTDBP
                refdes: CP10CNSM-MFD37-03-CTDBPC000
                controlled_by: *dcl37
                physical: *mfn
                port: 3
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl37/ctdbp2/*.ctdbp2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/ctdbp/*.ctdbp2.json"
                dataset: CP10CNSM_MFN_001_CTDBP
            - dosta:
                name: DOSTA
                refdes: CP10CNSM-MFD37-04-DOSTAD000
                controlled_by: *dcl37
                physical: *mfn
                port: 4
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl37/dosta2/*.dosta2.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/dosta/*.dosta2.json"
                dataset: CP10CNSM_MFN_001_DOSTA
            - zplsc:
                name: ZPLSC
                refdes: CP10CNSM-MFD37-07-ZPLSCC000
                controlled_by: *dcl37
                physical: *mfn
                port: 7
                #uuid: <API_query:uuid_number>
                raw_data: "cp10cnsm/{{ deployment_name }}/dcl37/zplsc/*.zplsc.log"
                parsed_data: "cp10cnsm/{{ deployment_name }}/mfn/zplsc/*.zplsc.json"
                dataset: CP10CNSM_MFN_001_ZPLSC
